<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <section id="join-us" class="subcribe">
        <div class="subcribe-box">
            <div class="content">
                <h3 class="fw-7">TRIAL START FIRST 30 DAYS.</h3>
                <p class="fw-5">Enter your email to create or restart your membership.</p>
            </div>
            <form action="" method="POST" class="subcribe-email">
                <input type="email" name="email" id="email" placeholder="Enter your email" required>
                <button type="submit" class="btn contained bg-dark accent fw-7 space">Get started</button>
            </form>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-box">
            <nav class="footer-navbar">
                <a href="../index.html" class="navbar-logo image">
                    <img src="./assets/images/logo.png" alt="Movfix">
                </a>
                <div class="footer-navbar-wrap">
                    <ul class="navbar-box">
                        <li class="navbar-item footer">
                            <a href="#" class="fw-7">Home</a>
                        </li>
                        <li class="navbar-item footer">
                            <a href="#" class="fw-7">Movie</a>
                        </li>
                        <li class="navbar-item footer">
                            <a href="#" class="fw-7">Tv show</a>
                        </li>
                        <li class="navbar-item footer">
                            <a href="#" class="fw-7">Pages</a>
                        </li>
                        <li class="navbar-item footer">
                            <a href="#" class="fw-7">Pricing</a>
                        </li>
                    </ul>
                    <div class="search-box">
                        <input type="text" placeholder="Find Favorite Movie">
                        <a href="#" class="search"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </nav>
            <div class="footer-info">
                <ul class="info-box">
                    <li class="info-item"><a href="#" class="fw-5 hover-text-accent">Faq</a></li>
                    <li class="info-item"><a href="#" class="fw-5 hover-text-accent">Help center</a></li>
                    <li class="info-item"><a href="#" class="fw-5 hover-text-accent">Terms of use</a></li>
                    <li class="info-item"><a href="#" class="fw-5 hover-text-accent">Privacy</a></li>
                </ul>
                <ul class="social-box">
                    <li class="social-item">
                        <a href="#" class="fw-5">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="fw-5">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="fw-5">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="fw-5">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <div class="footer-copyright">
        <div class="footer-copyright-box">
            <div class="copyright fw-5">
                Copyright © 2021. All Rights Reserved By <a href="index.html" class="hightlight">Movflx</a>
            </div>
            <div class="image">
                <img src="./assets/images/card_img.png" alt="">
            </div>
        </div>
    </div>
</body>

</html>