<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <nav id="navbar" class="navbar-top">
        <div class="navbar-inner">
            <div class="navbar-logo image">
                <a href="index.html">
                    <img src="./assets/images/logo.png" alt="Movfix">
                </a>
            </div>
            <ul class="navbar-box">
                <li class="navbar-item parent active">
                    <a href="index.html">Home</a>
                    <ul class="dropdown">
                        <li class="dropdown-item"><a href="index.html">Home one</a></li>
                        <li class="dropdown-item"><a href="#">Home two</a></li>
                    </ul>
                </li>
                <li class="navbar-item parent">
                    <a href="#">Movie</a>
                    <ul class="dropdown">
                        <li class="dropdown-item"><a href="movie.html">Movie</a></li>
                        <li class="dropdown-item"><a href="movie-detail.html">Movie details</a></li>
                    </ul>
                </li>
                <li class="navbar-item"><a href="tv-show.html">TV show</a></li>
                <li class="navbar-item"><a href="pricing.html">Pricing</a></li>
                <li class="navbar-item parent">
                    <a href="#">Blog</a>
                    <ul class="dropdown">
                        <li class="dropdown-item"><a href="blog.html">Our blog</a></li>
                        <li class="dropdown-item"><a href="blog-detail.html">Blog details</a></li>
                    </ul>
                </li>
                <li class="navbar-item"><a href="contact.html">Contacts</a></li>
            </ul>
            <div class="navbar-action">
                <div class="search-btn">
                    <a href="#"><i class="fa fa-search"></i></a>
                </div>
                <div class="language-btn">
                    <a href="#"><i class="fa fa-globe"></i></a>
                    <select name="language" id="language" title="Select language">
                        <option value="en" selected>en</option>
                        <option value="au">au</option>
                        <option value="ar">ar</option>
                        <option value="tu">tu</option>
                    </select>
                </div>
                <a href="#" class="btn rounded outline bg-dark medium fw-7 space">
                    Sign In
                </a>
            </div>
        </div>
    </nav>
</body>
</html>